header {
    padding: none;
    background-color: rgba(67, 90, 237, 0.957);
    
    color: #ffffff;
    align-items:center;
    margin-top: -14px;
    margin-bottom: -14px;
}

h1 {
    font-size: 30px;
    color:#ffffff;
}

.formContainer {
 border:solid black;
 border-width: 1px;
 display: inline-block;
 margin-left: 10px;
}

.todayCard {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    margin-top: 10px;
}